body{
    background-image: url(../image/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    padding: 24px;

    box-sizing: border-box;

    max-width: 800px;

    background-color: #F0E8C2;

    border-radius: 24px;

    margin: 48px auto;
}
