:root{
    font-family: "Alice", serif;
    line-height: 150%;
    color: #573A37;
}

body{
    background-image: url(../image/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    padding: 24px;

    box-sizing: border-box;

    max-width: 800px;

    background-color: #F0E8C2;

    border-radius: 24px;

    margin: 48px auto;
}

h1{
    line-height: 140%;
    font-size: 40px;
}

h2{
    font-size: 24px;
}

h1, h2{
    color: #291B1A;
}
